menu "LoRa Configurations"

config ARES_LORA_STACK_SIZE
    int "LoRa task stack size"
    default 4096

config ARES_LORA_PRIO
    int "LoEa task priority"
    default 1

menu "CRC Configurations"

config LORA_CRC_SEED
    hex "CRC16 Seed"
    default 0xFFFF

config LORA_CRC_XOR_OUTPUT
    hex "XOR CRC16 output value"
    default 0xFFFF

config LORA_REFLECT_CRC_OUTPUT
    bool "Reflect the CRC16 output"
    default n

config LORA_CRC_POLYNOMIAL
    hex "CRC16 polynomial"
    default 0x9eb2

endmenu # CRC Configurations

endmenu  # LoRa Configurations