
mainmenu "Lora Application"

menu "Application Configurations"

choice "ARES_LORA_RADIO_DIRECTION"
    prompt "Lora Radio Configuration"
    default ARES_LORA_RX

config ARES_LORA_RX
    bool "Receive mode"

config ARES_LORA_TX
    bool "Transmit mode"

endchoice  # ARES_LORA_RADIO_DIRECTION

menu "CRC Configurations"

config LORA_CRC_SEED
    hex "CRC16 Seed"
    default 0xFFFF

config LORA_CRC_XOR_OUTPUT
    hex "XOR CRC16 output value"
    default 0xFFFF

config LORA_REFLECT_CRC_INPUT
    bool "Reflect the CRC16 input"
    default y

config LORA_REFLECT_CRC_OUTPUT
    bool "Reflect the CRC16 output"
    default n

config LORA_CRC_POLYNOMIAL
    hex "CRC16 polynomial"
    default 0x9eb2

endmenu # CRC Configurations

menu "LoRa Logging"
module = LORA
module-str = LoRa
source "subsys/logging/Kconfig.template.log_config"
endmenu # LoRa Logging

endmenu  # Application Configurations

source "Kconfig.zephyr"
