
mainmenu "Lora Application"

menu "Application Configurations"

rsource "config/Kconfig.serial"

rsource "config/Kconfig.lora"

choice "ARES_LORA_RADIO_DIRECTION"
    prompt "Lora Radio Configuration"
    default ARES_LORA_RX

config ARES_LORA_RX
    bool "Receive mode"

config ARES_LORA_TX
    bool "Transmit mode"

endchoice  # ARES_LORA_RADIO_DIRECTION

menu "LoRa Logging"
module = LORA
module-str = LoRa
source "subsys/logging/Kconfig.template.log_config"
endmenu # LoRa Logging

endmenu  # Application Configurations

source "Kconfig.zephyr"
